extends ../layouts/application.pug

block header
  = t('views.taskStatus.new.title')

block content
  +formFor()(action=route('taskStatuses') method='post')
    +input(taskStatus, 'name', errors)(type="text")
    +submit(taskStatus)(value=t('views.taskStatus.new.action'))
